#form {
    width: 50vw;
    height: 55vh;
    border: 1px solid black;
    position: relative;
    padding-left: 3vw;
    margin-top: 3vh;
    display: none;
}

.field {
    position: relative;
}

input {
    border: 1px solid black;
    outline: none;
    border-radius: 4px;
    margin-top: 4vh;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
    margin-top: 5vh;
    margin-left: 11vw;
    transition: .3s ease-in-out;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

input {
    font-size: 20px;
    width: 30vw;
    height: 5vh;
}

input:focus+label,
input:valid+label {
    color: brown;
    font-size: 20PX;
    top: -20px;
    pointer-events: none;
}

input:focus,
input:valid {
    border-bottom: 3px solid black;
}

#submit {
    width: 15vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 6vh;
}

h2 {
    font-size: 30px;

}

button {
    margin-top: 1vh;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #55c2da;

}

#addData {
    margin-left: 50vw;
}

#notif {
    display: none;
}

#noti {
    width: 60vw;
    border: none;
    border-bottom: 1px solid black;
}